html,
body, #poster {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

}

body {
	position: relative;
	line-height: 1;
	background-color: #efefef;
	color: #000;
	font-family: "Source Sans Pro", Arial, sans-serif;
}

 .text {
	 font-size: 25px;
	 text-align: left;
	 padding: 5;
 }

.title, .attribution, .affiliation, .subtitle, .sectionheading {
	background-color: #4e117f;
	color: #FFF;
	padding-left: 10;
}

.title {

	font-size: 75px;
	width: 100%;
}

.subtitle {
	font-size: 65px;
}

.attribution {
	font-size: 55px;
}

.affiliation {
	font-size: 40px;
}

a {
	text-decoration: none;
}
.section {
	position: relative;
	margin-top: 20;
	margin-left: 10;
	padding: 0;
	border: solid 1px;
	font-size: 100%;
	font: inherit;

}

.section iframe {
	width: inherit;
	height: auto;
	padding: 20px;
}


.sectionheading {
	font-size: 42px;
	font-weight: bold;

}

.embed {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	border: 0;
}

.image img {
	position: relative;
	float: left;
	width: 400px;
	height: 300px;
	margin: 0 auto;
	padding: 0;
	border: 0;
}


ul, ol {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}
